<md-content ng-controller="CheckCtrl" layout="column" class="custom-scroll" flex>
    <md-tabs flex="100">

        <md-tab>
            <md-tab-label>Endpoints</md-tab-label>

            <md-tab-body layout="column">
                <section layout="row" ng-controller="EndpointCtrl">
                    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
                        <md-toolbar>
                            <h1 class="md-toolbar-tools">Endpoint Categories</h1>
                        </md-toolbar>
                        <md-content layout-padding layout="column" style="padding: 0;">                            
                            <md-button style="margin:0;padding: 0 5px;width: 100%;" ng-click="goTo(apiCall.key)" ng-repeat="apiCall in apiCalls">
                                <div layout="row" style="padding:0;">
                                    <span style="font-size:0.8em;">{{apiCall.key}}</span>
                                    <span flex></span>
                                    <span layout="row">
                                        <md-progress-circular md-diameter="20px" style="margin:auto;" md-mode="determinate" value="{{(apiCallFinished(apiCall)/apiCall.endpoints.length)*100}}"></md-progress-circular>
                                        <md-progress-circular md-diameter="20px" style="margin:auto;" class="md-accent" md-mode="determinate" value="{{(apiCallSuccess(apiCall)/apiCall.endpoints.length)*100}}"></md-progress-circular>
                                        <md-progress-circular md-diameter="20px" style="margin:auto;" class='md-warn' md-mode="determinate" value="{{(apiCallError(apiCall)/apiCall.endpoints.length)*100}}"></md-progress-circular>
                                        <md-tooltip md-visible="tooltipVisible">Done: {{apiCallFinished(apiCall)}} / Success: {{apiCallSuccess(apiCall)}} / Error: {{apiCallError(apiCall)}}</md-tooltip>
                                    </span>
                                </div>
                            </md-button>  
                            <md-button class="md-primary md-raised" ng-click="testAllCategories()" style="min-width: 10px;">
                                        <span hide show-gt-sm translate="button.testAllCategories"></span>
                                        <md-tooltip hide-gt-sm md-direction="bottom" md-visible="tooltipVisible"> {{"button.testAllCategories" | translate}}</md-tooltip>
                                        <md-icon class="material-icons" aria-label="test all" md-svg-src="/images/icons/ic_play_circle_outline_white_24px.svg"></md-icon>
                                    </md-button>                   
                        </md-content>
                    </md-sidenav>


                    <md-content flex layout="column">
                        <div>
                        <article md-whiteframe="2" ng-repeat="apiCall in apiCalls" id="{{apiCall.key}}">
                            <md-toolbar style="min-height: 50px">
                                <div class="md-toolbar-tools" style="height: 50px">
                                    <h2 class="md-title">{{apiCall.name}}</h2>
                                    <span flex></span>
                                    <md-button aria-label="test all" ng-click="testApiCall(apiCall)" style="min-width: 10px;">
                                        <span hide show-gt-sm translate="button.testAll"></span>
                                        <md-tooltip hide-gt-sm md-direction="bottom" md-visible="tooltipVisible"> {{"button.testAll" | translate}}</md-tooltip>
                                        <md-icon class="material-icons" aria-label="test all" md-svg-src="/images/icons/ic_play_circle_outline_white_24px.svg"></md-icon>
                                    </md-button>
                                </div>
                            </md-toolbar>
                            <div ng-repeat="endpoint in apiCall.endpoints">
                                <div layout-padding>
                                    <div>
                                        <b class="badge badge-primary">{{endpoint.method}}</b><b> {{ endpoint.endpoint}}</b> <span flex></span>
                                        <span class='badge badge-unknown' ng-show="waitingForOtherCalls(endpoint)">Waiting for {{waitingForOtherCalls(endpoint)}} from other API call...</span>                                        
                                        <span class='badge badge-warning' ng-show="endpoint.started && !endpoint.loaded">Loading...</span>
                                        <span class='badge badge-success' ng-show="endpoint.loaded && endpoint.status == 200">Success</span>
                                        <span class='badge badge-danger' ng-show="endpoint.loaded && endpoint.status != 200 && endpoint.status != 0">Error - HTTP {{endpoint.status}}</span>
                                    </div>
                                    <div>{{ endpoint.description}} </div>
                                    <div>
                                        <md-button aria-label="details" class="md-raised md-primary" ng-click="showDetails(endpoint)" style="min-width: 10px;" ng-disabled="!endpoint.loaded || endpoint.status == 0">
                                            <span translate="button.details"></span>
                                            <md-icon class="material-icons" aria-label="details" md-svg-src="/images/icons/ic_description_24px.svg"></md-icon>
                                        </md-button>
                                        <md-button aria-label="test" ng-click="generateRequest(endpoint)" style="min-width: 10px;" ng-disabled="waitingForOtherCalls(endpoint)">
                                            <span hide show-gt-sm translate="button.test"></span>
                                            <md-tooltip hide-gt-sm md-direction="bottom" md-visible="tooltipVisible" )> {{"button.test" | translate}}</md-tooltip>
                                            <md-icon class="material-icons" aria-label="test" md-svg-src="/images/icons/ic_play_arrow_24px.svg"></md-icon>
                                        </md-button>
                                    </div>
                                </div>
                                <hr ng-show="!$last">
                            </div>
                        </article>
                        </div>
                    </md-content>

                </section>
            </md-tab-body>
        </md-tab>



        <md-tab>
            <md-tab-label>Webhooks</md-tab-label>
            <md-tab-body layout="column" flex="100">
             <section flex layout="row"  ng-controller="WebhookCtrl">
                <md-sidenav class="md-sidenav-left" md-component-id="left2" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
                    <md-toolbar>
                        <h1 class="md-toolbar-tools">Menu</h1>
                    </md-toolbar>
                     <md-content layout-padding layout="column" style="padding: 0;">
                        <md-button style="margin:0;width: 100%;" ng-click="goTo('webhookVersion')">
                            <div layout="row" style="padding:0;">
                                <span style="font-size:0.8em">Webhook Version</span>
                            </div>
                        </md-button>
                     <md-content layout-padding layout="column" style="padding: 0;">
                        <md-button style="margin:0;width: 100%;" ng-click="goTo('registeredWebhook')">
                            <div layout="row" style="padding:0;">
                                <span style="font-size:0.8em">Registered Webhook</span>
                            </div>
                        </md-button>
                        <md-button style="margin:0;width: 100%;" ng-click="goTo('registerNewWebhook')">
                            <div layout="row" style="padding:0;">
                                <span style="font-size:0.8em">Register New Webhook</span>
                            </div>
                        </md-button>
                        <md-button style="margin:0;width: 100%;" ng-click="goTo('testWebhook')">
                            <div layout="row" style="padding:0;">
                                <span style="font-size:0.8em">Test Webhook</span>
                            </div>
                        </md-button>
                    </md-content>
                </md-sidenav>

                                       
                <div layout="row" ng-repeat="apiCall in apiCalls" layout="column" style="padding:0;">
                    <md-button style="margin:0;width: 100%;" ng-click="goTo(apiCall.key)">
                        <div  layout="row">
                        <span style="font-size:0.8em;">{{apiCall.key}}</span>
                        <span flex></span>
                        <span layout="row">
                            <md-progress-circular md-diameter="20px" style="margin:auto;" md-mode="determinate" value="{{(apiCallFinished(apiCall)/apiCall.endpoints.length)*100}}"></md-progress-circular>
                            <md-progress-circular md-diameter="20px" style="margin:auto;" class="md-accent" md-mode="determinate" value="{{(apiCallSuccess(apiCall)/apiCall.endpoints.length)*100}}"></md-progress-circular>
                            <md-progress-circular md-diameter="20px" style="margin:auto;" class='md-warn' md-mode="determinate" value="{{(apiCallError(apiCall)/apiCall.endpoints.length)*100}}"></md-progress-circular>
                            <md-tooltip md-visible="tooltipVisible">Done: {{apiCallFinished(apiCall)}} / Success: {{apiCallSuccess(apiCall)}} / Error: {{apiCallError(apiCall)}}</md-tooltip>
                        </span>
                        </div>
                    </md-button>
                </div>

                <md-content flex layout="column">
                    <article md-whiteframe="2" id="webbhookVersion">
                        <md-toolbar style="min-height: 50px">
                            <div class="md-toolbar-tools" style="height: 50px">
                                <h2 class="md-title">Webhook Version</h2>
                                <span flex></span>                                
                            </div>
                        </md-toolbar>
                        
                        <md-content layout-padding layout="column">
                                <md-input-container style="margin: 5px 5px 0 5px;">
                                <md-radio-group ng-model="webhookVersion" layout="row">
                                    <md-radio-button value="beta" disabled="disabled">Beta (Deprecated)</md-radio-button>
                                    <md-radio-button value="v1">V1</md-radio-button>                                  
                                </md-radio-group>
                                </md-input-container>
</md-content>

                    </article>
                    <article md-whiteframe="2" id="registeredWebhook">
                        <md-toolbar style="min-height: 50px">
                            <div class="md-toolbar-tools" style="height: 50px">
                                <h2 class="md-title">Manage webhooks</h2>
                                <span flex></span>
                                <md-button aria-label="refresh" ng-click="deleteCurrentWebhooks()" style="min-width: 10px;" ng-disabled="selectedCurrentWebhooks.length == 0">
                                    <md-tooltip md-direction="bottom" md-visible="tooltipVisible"> {{"button.delete" | translate}}</md-tooltip>
                                    <md-icon class="material-icons" aria-label="refresh" md-svg-src="/images/icons/ic_delete_24px.svg"></md-icon>
                                </md-button>
                                <md-button aria-label="refresh" ng-click="getCurrentWebhooks()" style="min-width: 10px;">
                                    <md-tooltip md-direction="bottom" md-visible="tooltipVisible"> {{"button.refresh" | translate}}</md-tooltip>
                                    <md-icon class="material-icons" aria-label="refresh" md-svg-src="/images/icons/ic_refresh_24px.svg"></md-icon>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-table-container>
                            <table md-table md-row-select multiple ng-model="selectedCurrentWebhooks" md-progress="requestCurrentWebhook">
                                <thead md-head md-order="query.order" md-on-reorder="application">
                                    <tr md-row>
                                        <th md-column md-order-by="nameToLower"><span>application</span></th>
                                        <th md-column>id</th>
                                        <th md-column>eventType</th>
                                        <th md-column>messageType</th>
                                        <th md-column>ownerId</th>
                                        <th md-column>url</th>
                                        <th md-column>secret</th>
                                        <th md-column><span>dateCreated</span></th>
                                        <th md-column>dateUpdated</th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row md-select="currentWebhook.id" md-select-id="id" md-auto-select ng-repeat="currentWebhook in currentWebhooks">
                                        <td md-cell>{{currentWebhook.application}}</td>
                                        <td md-cell>{{currentWebhook.id}}</td>
                                        <td md-cell>{{currentWebhook.eventType}}</td>
                                        <td md-cell>{{currentWebhook.messageType}}</td>
                                        <td md-cell>{{currentWebhook.ownerId}}</td>
                                        <td md-cell>{{currentWebhook.url}}</td>
                                        <td md-cell>{{currentWebhook.secret}}</td>
                                        <td md-cell>{{currentWebhook.dateCreated}}</td>
                                        <td md-cell>{{currentWebhook.dateUpdated}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>

                        <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{currentWebhooks.length}}"
                            md-page-select></md-table-pagination>
                    </article>

                    <article md-whiteframe="2" id="registerNewWebhook">
                        <md-toolbar style="min-height: 50px">
                            <div class="md-toolbar-tools" style="height: 50px">
                                <h2 class="md-title">Register a new webhook </h2>
                            </div>

                        </md-toolbar>
                        <md-content layout-padding layout="column">
                            <md-input-container style="margin: 5px 5px 0 5px;padding: 0;">
                                <label>
                                    <span>Application Name<span style="color: red">*</span>
                                </label>
                                <input type="text" ng-model="customWebhook.application" />
                            </md-input-container>
                            <md-input-container style="margin: 5px 5px 0 5px;padding: 0;">
                                <label>
                                    <span>Application Secret<span style="color: red">*</span>
                                    </label>
                                <input type="text" ng-model="customWebhook.secret" />
                            </md-input-container>
                            <md-input-container style="margin: 5px 5px 0 5px;padding: 0;">
                                <label>
                                    <span>POST URL<span style="color: red">*</span>
                                </label>
                                <input type="text" ng-model="customWebhook.url" />
                            </md-input-container>
                            <!--
                            <md-input-container style="margin: 5px 5px 0 5px;">
                                <label>
                                    <span>Event Type</span><span style="color: red">*</span>
                                </label>
                                <md-select ng-model="customWebhook.eventType">
                                    <md-option ng-repeat="eventType in eventTypes" ng-value="eventType">{{eventType}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container style="margin: 5px 5px 0 5px;">
                                <label>
                                    <span>Event Message</span><span style="color: red">*</span>
                                </label>
                                <md-select ng-model="customWebhook.messageType">
                                    <md-option ng-repeat="messageType in messageTypes" ng-value="messageType">{{messageType}}</md-option>
                                </md-select>
                            </md-input-container>
                            -->
                            <md-input-container layout="row">
                                <md-button aria-label="save webhook" ng-click="saveCustomWebhook()" class="md-raised md-primary" ng-disabled="!validateWebhook()">
                                    Save
                                </md-button>
                            </md-input-container>
                        </md-content>
                    </article>

                    <article md-whiteframe="2" id="testWebhook">
                        <md-toolbar style="min-height: 50px">
                            <div class="md-toolbar-tools" style="height: 50px">
                                <h2 class="md-title">Test Presence Webhook</h2>
                                <span flex></span>
                                <md-button aria-label="details" ng-click="startWh()" style="min-width: 10px;" ng-disabled="webhook.test != undefined">
                                    <md-tooltip md-direction="bottom" md-visible="tooltipVisible" )> {{"button.start" | translate}}</md-tooltip>
                                    <md-icon class="material-icons" aria-label="details" md-svg-src="/images/icons/ic_play_arrow_white_24px.svg"></md-icon>
                                </md-button>
                                    <md-button aria-label="refresh" ng-click="stopWh()" style="min-width: 10px;" ng-disabled="webhook.test == undefined">
                                    <md-tooltip md-direction="bottom" md-visible="tooltipVisible" )> {{"button.stop" | translate}}</md-tooltip>
                                    <md-icon class="material-icons" aria-label="refresh" md-svg-src="/images/icons/ic_stop_24px.svg"></md-icon>
                                </md-button>
                                    <md-button aria-label="refresh" ng-click="restartWh()" ng-disabled="webhook.test == undefined" style="min-width: 10px;">
                                    <md-tooltip md-direction="bottom" md-visible="tooltipVisible" )> {{"button.restart" | translate}}</md-tooltip>
                                    <md-icon class="material-icons" aria-label="refresh" md-svg-src="/images/icons/ic_refresh_24px.svg"></md-icon>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <div>

                            <div md-whiteframe="1">
                                <md-toolbar style="min-height: 30px">
                                    <div class="md-toolbar-tools" style="height: 30px">
                                        <h3 style="font-size: 70%; height: 30px" class="md-title">Create Presence Webhook</h3>
                                        <span flex></span>
                                        <span class='badge badge-unknown' ng-show="!webhook.register.loaded && !webhook.register.started && webhook.test == undefined">Not yet started</span>
                                        <span class='badge badge-success' ng-show="!webhook.register.started && webhook.test != undefined">Already started</span>
                                        <span class='badge badge-warning' ng-show="webhook.register.started && !webhook.register.loaded">Loading...</span>
                                        <span class='badge badge-success' ng-show="webhook.register.loaded && webhook.register.status == 200">Success</span>
                                        <span class='badge badge-danger' ng-show="webhook.register.loaded && webhook.register.status != 200 && webhook.register.status != 0">Error - HTTP {{webhook.register.status}}</span>
                                        <md-button aria-label="details" ng-click="showDetails(webhook.register)" style="min-width: 10px;" ng-disabled="!webhook.register.loaded || webhook.register.status == 0">
                                            <span hide show-gt-sm translate="button.details"></span>
                                            <md-tooltip hide-gt-sm md-direction="bottom" md-visible="tooltipVisible" )> {{"button.details" | translate}}</md-tooltip>
                                            <md-icon class="material-icons" aria-label="details" md-svg-src="/images/icons/ic_description_24px.svg"></md-icon>
                                        </md-button>
                                    </div>
                                </md-toolbar>
                                <div layout-padding>
                                    <div> <b>Endpoint: </b><i>{{ webhook.register.endpoint}}</i> </div>
                                    <div> <b>Description: </b>{{ webhook.register.description}} </div>
                                </div>
                            </div>
                            <div md-whiteframe="1">
                                <md-toolbar style="min-height: 30px">
                                    <div class="md-toolbar-tools" style="height: 30px">
                                        <h3 style="font-size: 70%; height: 30px" class="md-title">Remove Presence Webhook</h3>
                                        <span flex></span>
                                        <span class='badge badge-unknown' ng-show="!webhook.remove.started">Not yet started</span>
                                        <span class='badge badge-warning' ng-show="webhook.remove.started && !webhook.remove.loaded">Loading...</span>
                                        <span class='badge badge-success' ng-show="webhook.remove.loaded && webhook.remove.status == 200">Success</span>
                                        <span class='badge badge-danger' ng-show="webhook.remove.loaded && webhook.remove.status != 200 && webhook.remove.status != 0">Error - HTTP {{webhook.remove.status}}</span>
                                        <md-button aria-label="details" ng-click="showDetails(webhook.remove)" style="min-width: 10px;" ng-disabled="!webhook.remove.loaded || webhook.remove.status == 0">
                                            <span hide show-gt-sm translate="button.details"></span>
                                            <md-tooltip hide-gt-sm md-direction="bottom" md-visible="tooltipVisible" )> {{"button.details" | translate}}</md-tooltip>
                                            <md-icon class="material-icons" aria-label="details" md-svg-src="/images/icons/ic_description_24px.svg"></md-icon>
                                        </md-button>
                                    </div>
                                </md-toolbar>
                                <div layout-padding>
                                    <div> <b>Endpoint: </b><i>{{ webhook.remove.endpoint}}</i> </div>
                                    <div> <b>Description: </b>{{ webhook.remove.description}} </div>
                                </div>
                            </div>
                            <div md-whiteframe="1">
                                <md-toolbar style="min-height: 30px">
                                    <div class="md-toolbar-tools" style="height: 30px">
                                        <h3 style="font-size: 70%; height: 30px" class="md-title">Result From Presence Webhook</h3>
                                        <span flex></span>
                                        <span class='badge badge-warning' ng-show="webhook.test != undefined && webhook.response.length == 0">Waiting for data...</span>
                                        <span class='badge badge-unknown' ng-show="webhook.test == undefined && webhook.response.length == 0">Not started</span>
                                        <span class='badge badge-success' ng-show="webhook.response.length > 0">Success</span>
                                        <span class='badge badge-danger' ng-show="webhook.success==false">Error</span>
                                    </div>
                                </md-toolbar>
                                <div layout-padding>
                                    <div ng-show="webhook.response.length == 0 && webhook.test == undefined" style="text-align: center">Please start the Webhook listener</div>
                                    <div ng-show="webhook.response.length == 0 && webhook.test != undefined" style="text-align: center">
                                        <div>Waiting for data from the ACS... This can take some time...</div>                                       
                                        <div>And no need to refresh this page. If I'm receiving something, I will automatically display it here!</div> 
                                    </div>
                                    <div ng-show="webhook.response.length == 0" style="text-align:center;"></div>  
                                    <div ng-show="webhook.response.length > 0">                                                          
                                        <div md-whiteframe="2" layout-margin ng-repeat="response in webhook.response">
                                            <md-toolbar style="min-height: 30px;margin:0;">
                                                <div class="md-toolbar-tools" style="cursor: pointer;width: 100%;height: 30px" ng-click="showResponse($index)">
                                                    <h3 style="font-size: 70%; height: 30px" class="md-title">Message received #{{$index}}</h3>    
                                                </div>
                                            </md-toolbar>
                                            <div layout-padding ng-show="isDisplayed($index)">                                
                                                <pre> {{ response | json }}</pre>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </article>
                </md-content>
            </section>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>